@model Portfolio.Models.Contactajax
<style>body {background-color: lavender;}</style>
<form id="contactajax" action="@Url.Action("Index", "Contact")" method="post">   
     @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Contact Me</legend>

        <div class="labelname">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class ="labelemail">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class ="labelmessage">
            @Html.LabelFor(model => model.Message)
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </di>

        <p>
            <input type="submit" value="Submit" />
        </p>
           
    </fieldset>
    </form>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}